<robot name="rover5">
    <!-- BASE_LINK -->
    <link name="base_link">
         <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://rover5/meshes/rover5.stl"  scale="0.001 0.001 0.001"/>
          </geometry>
        </visual>    
    </link>
